@charset "UTF-8";

/* base */
html {
    font-family: 'mplus-1m-regular';
    font-size: 1vw;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* header */
.l-header {
    position: relative;
    text-align: center;
    background-color: #fff7ef;
}

.l-header {
    font-size: 20px;
    color: #707070;
}

.l-header span {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 20px;
    font-weight: bold;

}

.l-header h1 {
    margin: 40px auto 38px;
}

.l-header form {
    padding-bottom: 38px;
}

input.c-button__text {
    width: 61%;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c-button__submit {
    margin-left: 12px;
    height: 46px;
    width: 21%;
    border: 1px solid #707070;
    border-radius: 10px;
    background-color: #F2EDE9;
    font-size: 16px;
}

@media (min-width: 641px) {
    input.c-button__text {
        max-width: 396px;
    }
    .c-button__submit {
        max-width: 136px;
    }
}


@media (min-width: 769px) {
    .l-header span {
        display: none;
    }
}

.p-search__form input[type="text"] {
    background: #fff;
    height: 46px;
    border: 1px solid #707070;
    border-radius: 10px;
}

/* hero */
.p-hero {
    position: relative;
    background-size: cover;
    height: 285px;
    line-height: 1;
}

.p-hero.front {
    background-image: url(../img/front-img1.jpg);
}

.p-hero img {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.p-hero h2 {
    position: absolute;
    top: 40%;
    left: 6.7%;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}

.p-hero span {
    font-size: 16px;
}

.p-hero.archive {
    background-image: url(../img/archive-img1.jpg);
}

/* hero タブレット */
@media (min-width: 641px) {
    .p-hero {
        background-image: url(../img/front-img1-tab.jpg);
    }

    .p-hero h2 {
        left: 10%;
    }

    .p-hero.archive h2 {
        font-size: 60px;
    }

    .p-hero br {
        display: none;
    }
}

/* hero PC */
@media (min-width: 769px) {
    .p-hero {
        background-image: url(../img/front-img1-PC.jpg);
    }

    .p-hero h2 {
        left: 5.5%;
        font-size: 40px;
    }
}

/* article */
.p-article {
    padding: 5%;
    margin-bottom: 50px;
}

.p-article h2 {
    position: absolute;
    top: 13px;
    left: 12px;
    color: #fff;
    font-size: 41px;
}

.p-article figure img {
    height: 642px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.p-article__first,
.p-article__second {
    position: relative;
}
.p-article__first {
    margin-bottom: 20px;
}

.p-article__text {
    display: inline-block;
    position: absolute;
    top: 297px;
    margin: 0 20px;
}

.p-article__text div {
    background-color: #fff;
    opacity: 0.8;
    height: 163px;
}

.p-article__text div+div {
    margin-top: 10px;
}

.p-article h3 {
    color: #3C2A10;
    font-size: 22px;
    padding: 24px 10px 24px;
}

.p-article p {
    font-size: 16px;
    color: #3C2A10;
    padding: 0 10px 20px;
    height: 71px;
    overflow: hidden;
}

.p-article hr {
    position: absolute;
    background-color: #fff;
    border: none;
    top: 86px;
    left: 13px;
    width: 9%;
    height: 4px;
}

/* article タブレット */
@media (min-width: 641px) {
    .p-article {
        display: flex;
    }

    .p-article figure img {
        height: 682px;
    }


    .p-article h2 {
        font-size: 44px;
    }

    .p-article h3 {
        font-size: 24px;
    }

    .p-article__first {
        margin-right: 5%;
    }
}

/* article PC */
@media (min-width: 769px) {
    .l-wrapper {
        display: flex;
        justify-content: space-between;
    }

    main {
        width: 80%;
    }

    .p-article h2 {
        font-size: 80px;
    }

    .p-article figure img {
        height: 1193px;
    }

}

/* map */
.p-map {
    position: relative;
    background: #000000;
    z-index: 1;
}

.p-map img {
    max-width: 100%;
    height: 691px;
    opacity: 0.6;
}

.p-map img::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 415px;
    background-color: rgba(0,0,0, .29)
}

.p-map__contents {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 691px;
    background-color: #000;
    color: #fff;
}
/*
.p-map__contents::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 475px;
    background-color: #000000;
    opacity: 0.29;
}*/


.p-map h3 {
    position: absolute;
    left: 42px;
    top: 46px;
    font-size: 30px;
}

.p-map hr {
    position: absolute;
    background-color: #fff;
    border: none;
    top: 102px;
    left: 42.5px;
    width: 11%;
    height: 2px;
}

.p-map p {
    position: absolute;
    left: 40px;
    top: 121px;
    font-size: 14px;
    width: 79%;
    height: 518px;
    line-height: 2.35;
    overflow: scroll;
}



/* sidebar */
aside {
    display: none;
}

.l-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    color: #707070;
}

.l-sidebar h2 {
    padding-bottom: 90px;
    font-size: 34px;
}

.l-sidebar h3 {
    list-style: none;
    padding-bottom: 45px;
    font-size: 24px;
}

.l-sidebar li {
    list-style: none;
    padding-bottom: 30px;
    font-size: 20px;
    padding-left: 20px;
}

/* sidebar PC*/
@media (min-width: 769px) {
    .l-wrapper {
        display: flex;
        height: auto;
    }

    aside {
        display: block;
        width: 20%;
        background-color: #F2EDE9;
    }

    .l-sidebar {
        position: absolute;
        padding-left: 2.5%;
        top: 0;
        right: 0;
        color: #707070;
    }
}

/* footer */
footer {
    display: block;
}

.l-footer {
    height: 150px;
    background-color: #917B67;
    width: 100%;
    text-align: center;
    color: #FFF;
}

.l-footer__information {
    padding-top: 43px;
    font-size: 20px;
    font-weight: 100;
}

.l-footer__copyright {
    padding-top: 39px;
    font-size: 14px;
}



/* archive */
.p-message__archive {
    display: block;
    margin-top: 67px;
    margin-left: 6.5%;
    margin-bottom: 70px;
}

.p-message__archive h2 {
    font-size: 36px;
    margin-top: 67px;
    left: 100px;
}

.p-message__archive p {
    font-size: 16px;
    margin-top: 70px;
    margin-right: 6.5%;
}

.p-article__archive__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 100px;
    padding-bottom: 30px;
}

.p-article__archive__contents {
    width: 90%90%;
    background-color: #3C2B1C;
}

.p-article__archive__contents h2,
.p-article__archive__contents h3,
.p-article__archive__contents p {
    color: #FFF;
    font-weight: normal;
    padding-left: 63px;
}

.p-article__archive__contents h2 {
    font-size: 36px;
    padding: 60px;
}

.p-article__archive__contents h3 {
    font-size: 24px;
    padding-bottom: 22px;
}

.p-article__archive__contents p {
    font-size: 16px;
    width: 509px;
    padding-bottom: 60px;
}

.p-article__archive__contents button {
    display: block;
    width: 292px;
    height: 72px;
    border-radius: 50px;
    background-color: #FFF;
    color: #707070;
    margin: auto;
}
/* archive タブレット */
@media (min-width: 641px) {
    .p-article__archive__wrapper {
        flex-direction: row;
    }

/* ページネーション */
nav.pagenation {
    position: relative;

    .old,
    .new {
        position: absolute;
    }

    .old {
        right: 0;
    }

    .new {
        left: 0;
    }
}

/*ページネーション　PC*/
.p-pagenation {
    margin: 0 0 10px;
    padding: 12px;
    text-align: center;
}

.p-pagenation__number {
    display: none;
}

@media (min-width: 769px) {

    .p-pagenation__compact {
        display: none;
    }

    .p-pagenation__number {
        display: block;
    }

    .p-pagenation__number li {
        display: inline;
        font-size: 16px;
        margin: 0 1px;
        padding: 0;
    }

    .p-pagenation__number li span,
    .p-pagenation__number li a {
        display: inline-block;
        padding: 1px 8px;
        background: #fff;
        border: 1px solid #ccc;
        vertical-align: middle;
        text-decoration: none;
    }

}